body{
    background: #1b1b1b;
    color: #eee;
}

.card{
    border: 1px solid #9090ab;
    min-height: 600px;
    border-radius: 25px;
}

.card .img{
    max-height: 250px!important;
    border-radius: 25px;
}